---
import Briefcase from "./iconos/Briefcase.astro";
---

<main>
  <div class="">
    <h2
      class="text-3xl md:text-4xl font-semibold mt-10 mb-6 md:mb-10 flex flex-row items-center gap-4"
    >
      <Briefcase />Experience
    </h2>
  </div>
  <ol class="relative border-s border-gray-200 dark:border-gray-700">
    <li class="mb-10 ms-4">
      <div
        class="absolute h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >February 2022</time
      >
      <h3 class="text-yellow-500 text-bold text-lg font-semibold">
        Application UI code in Tailwind CSS
      </h3>
      <p
        class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400 text-balance"
      >
        Get access to over 20+ pages including a dashboard layout, charts,
        kanban board, calendar, and pre-order E-commerce & Marketing pages.
      </p>
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >March 2022</time
      >
      <h3 class="text-yellow-500 text-bold text-lg font-semibold">
        Marketing UI design in Figma
      </h3>
      <p
        class="text-base font-normal text-gray-500 dark:text-gray-400 text-balance"
      >
        All of the pages and components are first designed in Figma and we keep
        a parity between the two versions even as we update the project.
      </p>
    </li>
    <li class="ms-4">
      <div
        class="absolute h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >April 2022</time
      >
      <h3 class="text-yellow-500 text-bold text-lg font-semibold">
        E-Commerce UI code in Tailwind CSS
      </h3>
      <p
        class="text-base font-normal text-gray-500 dark:text-gray-400 text-balance"
      >
        Get started with dozens of web components and interactive elements built
        on top of Tailwind CSS.
      </p>
    </li>
  </ol>
</main>
