---

---

<footer class="flex flex-row pt-3 justify-center items-center gap-5">
  <a class="hover:underline hover:text-white text-gray-400" href="#">About Me</a
  >
  <a href="hover:underline hover:text-white text-gray-400">Contact</a>
</footer>
