---
import Layout from "../layouts/Layout.astro";
---

<header
  class="h-[100px] p-[40px] z-10 flex flex-row justify-center mb-7 sticky"
>
  <div
    class="flex flex-row gap-7 shadow fixed bg-indigo-950 border-gray-500 border p-2 justify-center items-center rounded-3xl"
  >
    <a class="text-gray-400 hover:text-white" href="#experience">Experience</a>
    <a class="text-gray-400 hover:text-white" href="#projects">Projects</a>
    <a class="text-gray-400 hover:text-white" href="/">Contact</a>
  </div>
</header>
