---
import GitHubIcon from "../components/iconos/GitHub.astro";
import LinkedinIcon from "../components/iconos/Linkedin.astro";
import EmailIcon from "../components/iconos/Email.astro";
---

<section>
  <div class="flex flex-col gap-1">
    <h1 class="text-4xl md:text-6xl font-bold text-wrap">
      Hi, Im <span class="text-violet-500">Ignacio Magurno</span>
    </h1>
    <p class="text-xl md:text-3xl text-gray-500">
      Fullstack Engineer | A.I Specialist
    </p>
  </div>
  <div>
    <p
      class="mt-2 md:mt-6 text-md md:text-xl text-pretty text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
    >
      As a dynamic professional with an advanced level of English, I bring a
      diverse skill set encompassing <span class="text-yellow-300 text-bold"
        >Full Stack Development</span
      > and expertise in <span class="text-yellow-300 text-bold">
        Deep Learning
      </span> and <span class="text-yellow-300 text-bold"
        >Machine Learning.</span
      >
    </p>
  </div>
  <div class="pt-2 flex flex-row gap-3">
    <a href="https://www.linkedin.com/in/ignacio-magurno-a08174273/">
      <GitHubIcon />
    </a>
    <a href="/">
      <LinkedinIcon />
    </a>
    <a href="/">
      <EmailIcon />
    </a>
  </div>
</section>
